<div class="page-container">
  <div class="page-header">
    <h1>{{ 'Voluntarios.PageTitle' | translate }}</h1>
    <div class="header-actions">
      <input #fileInput type="file" accept=".csv,.xlsx,.xls" style="display:none"
             (change)="onArchivoSeleccionado($event)">

      <button mat-stroked-button color="primary"
              (click)="descargarPlantillaMaestra()"
              [matTooltip]="'Voluntarios.Tooltips.PlantillaMaestra' | translate">
        <mat-icon>table_view</mat-icon> {{ 'Voluntarios.Buttons.PlantillaMaestra' | translate }}
      </button>

      <button mat-stroked-button color="primary"
              [disabled]="exportandoExcel"
              (click)="exportarExcel()"
              [matTooltip]="'Voluntarios.Tooltips.ExportarExcel' | translate">
        <mat-icon>download</mat-icon>
        {{ (exportandoExcel ? 'Voluntarios.Buttons.Exporting' : 'Voluntarios.Buttons.ExportarExcel') | translate }}
      </button>

      <button mat-stroked-button color="accent"
              [disabled]="subiendoArchivo"
              (click)="abrirSelectorArchivo()"
              [matTooltip]="'Voluntarios.Tooltips.CargaMasiva' | translate">
        <mat-icon>upload_file</mat-icon>
        {{ (subiendoArchivo ? 'Voluntarios.Buttons.Uploading' : 'Voluntarios.Buttons.CargaMasiva') | translate }}
      </button>

      <button mat-raised-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon> {{ 'Voluntarios.NewButton' | translate }}
      </button>
    </div>
  </div>

  <mat-card>
    <mat-card-content>
      <app-data-table
        [columns]="columns"
        [data]="voluntarios"
        [isLoading]="loading || subiendoArchivo"
        [serverSide]="true"
        [totalItems]="totalElements"
        [pageSize]="pageSize"
        [pageIndex]="currentPage"
        [pageSizeOptions]="[10, 25, 50]"
        [showColumnToggle]="true"
        [showExportButton]="true"
        exportFileName="voluntarios"
        (filterChange)="onFilterChange($event)"
        (pageChange)="onPageChange($event)"
        (actionClick)="onActionClick($event)"
      />
    </mat-card-content>
  </mat-card>
</div>
